<h1>MainController#index</h1>

<%= form_tag '/', method: :post do %>
  <h3>Create a something!</h3>
  <label for="something">Something</label>
  <input id="something" name="something" value="anything" autofocus>
  <button type="submit">Submit</button>
<% end %>
